.nav
{
height:60px;
width:100%;
background-color:black;
color:white;
display:flex;
}
.im
{
background-color:#febd69;
width:5%;
margin-top:5px;
height:45px;
border-radius:0px 5px 5px 0px;
}
.b4
{
background-color:#232f3e;
color:white;
height:40px;
width:100%;
display:felx;
}
a{
margin:20px;}
p{
margin:0px;
}
.b3{
background-color:#f3f3f3;
height:45px;
border-radius:6px 0px  0px 6px;
margin:5px 0px 5px 5px;
}
input{
width:40%;
height:45px;
margin-top:5px;
margin-bottom:10px;

border:0px;
}
.k
{
background-color:white;
font-size:17px;
display:flex;
justify-content:center;
border:2px solid gray;
align-items:center;
margin-left:8%;
z-index:20;
height:26px;
width:85%;
position:sticky;
top:00px;
}
.bo1
{
height:40vh;
background-color:white;
width:24%;
margin:1%;
}
.bk
{
display:flex;
}
.k1
{
height:5vh;
width:100%;
background-color:#37475A;
color:white;
margin:0px;
}
footer
{
background-color:232f3e;
color:white;
margin:0px;
height:30%;
display:flex;
justify-content:center;
align-item:center;
}

